[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
fastapi = "*"
pydantic = "*"
black = "*"
lxml = "*"
uvicorn = "*"
redis = "*"
pydantic-settings = "*"
pytest-asyncio = "*"
cloudscraper = "*"
selenium = "*"

[dev-packages]
ipython = "*"
pyfzf = "*"
requests = "*"

[requires]
python_version = "3.11"
